
#entireBusinessPromoPage
{
  font-family: 'Oswald', sans-serif;
}

#myMapContainerId{    
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px); 
}


.BizPromotionBannerPage {
  height: 65%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 8%;
  padding-bottom: 3%;
  background-color: rgba(254,254,254,0.8);
}


#saleCentsHeader  {
  color: rgb(187,37,36);
  text-shadow:  -1px -1px rgb(255,255,255), 1px 1px rgb(255,255,255), -1px 1px rgb(255,255,255) ,1px -1px rgb(255,255,255); /*40px 40px 4px rgba(0,0,0,.4)*/
  font-size: 5em;
}

#saleCentsSlogan{
  color: rgb(187,37,36);;
  text-shadow:  -1px -1px rgb(255,255,255), 1px 1px rgb(255,255,255), -1px 1px rgb(255,255,255) ,1px -1px rgb(255,255,255); /*40px 40px 4px rgba(0,0,0,.4)*/
  font-size: 3em;
}


.buttonStyle{
    background-color: rgb(184,37,36);;
    color: white;
    border: 1px solid white;
    width: 125px;
}

.buttonStyle:hover{
    background-color: white;
    color: rgb(184,37,36);
    border: 1px solid rgb(184,37,36);
}


/* ------------------------------------------------------------------ */

.introduction
{
  height: auto;
  text-align: center;
  background-color: rgb(187,37,36);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.introductionIcon
{
    margin: 2%;
}


.introductionIconBordered
{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-radius: 10px;
  border: white 1px solid;
  margin: 2%;
}


.introduction  h2
{
  font-size: 40px;
  line-height: 58px;
  font-weight: 10;
  letter-spacing: -1px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.introduction  p
{
  font-size: 20px;
  line-height: 30px;
  font-weight: 10;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
}




.time
{
  height: auto;
  text-align: center;
  background: rgba(255,255,255,1);
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  color: rgb(187,37,36);

}

.time  h2
{
  font-size: 40px;
  line-height: 58px;
  font-weight: 10;
  letter-spacing: -1px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.time  p
{
  font-size: 20px;
  line-height: 30px;
  font-weight: 10;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.inner_clock_container > td
{
  z-index: 0;
}

.clock
{
  height: 250px;
  width: 250px;
}

#clockRound
{
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 1;
}

#clockMinute
{
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 2;
}
#clockHour
{
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 3;
}


.revenue
{
  height: auto;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 89%, rgba(255,255,255,0.89) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(89%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.89)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 89%, rgba(255,255,255,0.89) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 89%, rgba(255,255,255,0.89) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 89%, rgba(255,255,255,0.89) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 89%, rgba(255,255,255,0.89) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

  color: rgb(187,37,36);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;  
}

.revenue  h2
{
  font-size: 40px;
  line-height: 58px;
  font-weight: 10;
  letter-spacing: -1px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.revenue  p
{
  font-size: 20px;
  line-height: 30px;
  font-weight: 10;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
}

  .revenueResponsiveSplitter
  {
    height: 50%;
  }

@media(max-width: 992px){
  .chart-table
  {
    margin-top: 250px;
  }
}

@media(max-width: 399px){
  .chart-table
  {
    margin-top: 20px;
    margin-left: 0%;
  }
}

.chart
{
  height: 250px;
  width: 250px;
  vertical-align: middle;
  padding-left: 10px;
}

.chart-bar
{
  position: absolute;
  bottom: 17px;
  z-index: 5;
  height: 50px;
  width: 35px;
  background-color: #b82524;
}

.howItWorks
{
  height: auto;
  background: rgba(182,36,36,0.89);
  background: -moz-linear-gradient(top, rgba(182,36,36,0.89) 0%, rgba(182,36,36,1) 19%, rgba(182,36,36,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,36,36,0.89)), color-stop(19%, rgba(182,36,36,1)), color-stop(100%, rgba(182,36,36,1)));
  background: -webkit-linear-gradient(top, rgba(182,36,36,0.89) 0%, rgba(182,36,36,1) 19%, rgba(182,36,36,1) 100%);
  background: -o-linear-gradient(top, rgba(182,36,36,0.89) 0%, rgba(182,36,36,1) 19%, rgba(182,36,36,1) 100%);
  background: -ms-linear-gradient(top, rgba(182,36,36,0.89) 0%, rgba(182,36,36,1) 19%, rgba(182,36,36,1) 100%);
  background: linear-gradient(to bottom, rgba(182,36,36,0.89) 0%, rgba(182,36,36,1) 19%, rgba(182,36,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b62424', endColorstr='#b62424', GradientType=0 );
  color: white;
}

.howItWorks  h2
{
  font-size: 40px;
  line-height: 58px;
  font-weight: 10;
  letter-spacing: -1px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.howItWorks  p
{
  font-size: 20px;
  line-height: 30px;
  font-weight: 10;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#sense
{
  font-size: x-large;
  font-weight: 10;
}

.dart
{
  position: absolute;
  z-index: 5;
  top: 40%;
}



/* Shaking a div */
/*@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.shake {
  display:inline-block
}*/

#saleCentsBrand
{
  font-size: larger;
  color: rgb(187,37,36);
  text-shadow:  -1px -1px rgb(255,255,255), 1px 1px rgb(255,255,255), -1px 1px rgb(255,255,255) ,1px -1px rgb(255,255,255);
}

#mapButton
{
  color: white;
  border-radius: 10px;
  text-decoration: underline;
}

#mapButton:hover
{
  background-color: white;
  margin: 1px
  color: rgba(187,37,36,.8);
}

#info
{
  height: auto;
  width: auto;
  text-align: center;
  background-color: rgba(245,245,245,.8);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;

}

#info .item
{
  border: 1px solid #8b2524;
}

#info .item  h2
{
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}


@media(max-width: 360px) and (max-height: 640px){

  #myMapContainerId{    
      -webkit-filter: blur(1.25px);
      -moz-filter: blur(.25px);
      -ms-filter: blur(1.25px);
      -o-filter: blur(1.25px);
      filter: blur(1.25px); 
  }

  .BizPromotionBannerPage {
    height: %;
    padding-top: 25%;
    padding-bottom: 3%;
  }


  #saleCentsHeader  {
    font-size: 4em;
  }

  #saleCentsSlogan{
    font-size: 2em;
  }

  .introductionIcon
  {
    height: 60px;
    width: 60px;
  }

  .introduction  h2
  {
    font-size: 30px;
    line-height: 40px;
  }


  .introduction  p
  {
    font-size: 20px;
    line-height: 30px;
  }


  .time
  {
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  }

  .time  h2
  {
  font-size: 40px;
  line-height: 58px;
  }

  .time  p
  {
  font-size: 20px;
  line-height: 30px;
  }

  .clock
  {
  height: 200px;
  width: 200px;
  }

  #clockRound
  {
    left: 13%
  }

  #clockMinute
  {  
    left: 13%;
  }

  #clockHour
  {
    
    left: 13%;
  }

  .revenue
  {
    padding-top: 200px;
  }

  #saleCentsBrand
  {
    font-size: larger;
    color: rgb(187,37,36);
    text-shadow:  -1px -1px rgb(255,255,255), 1px 1px rgb(255,255,255), -1px 1px rgb(255,255,255) ,1px -1px rgb(255,255,255);
  }  
}

@media(max-width: 320px) and (max-height: 568px){
  .BizPromotionBannerPage {
    height: 100%;
    padding-top: 25%;
    padding-bottom: 3%;
  }
}
