body {
    color: #8b2524;
}

p {
    color: #000;
}

.row {
    margin-left:0px;
    margin-right:0px;
}

.active {
    color: #fff;
    background: rgba(184,37,36,.85);
    text-decoration: none;
}

.active:hover {
    color: #fff;
    background: rgba(184,37,36,.85);
    text-decoration: none;
}

.active:focus {
    color: #fff;
    background: rgba(184,37,36,.85);
    text-decoration: none;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
}

#lastToggle
{
    border-bottom-right-radius: 10px;
}

#sidebar-wrapper {
    margin-left: -190px;
    top: 50px;
    left: 70px;
    width: 190px;
    background: rgba(245,245,245,.9);
    position: fixed;
    height: auto;
    overflow-y: auto;
    overflow: scroll
    z-index: 1;
    transition: all .4s ease 0s;
    border-bottom-right-radius: 10px;
}

#navbar-wrapper {
    margin-left: -190px;
    top: 0px;
    position: fixed;
    min-width: 150%;
    height: 50px;
    z-index: 2;
    overflow: hidden;
}

#navbar-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu-toggle
{
    height: 100%;
    background: rgba(245,245,245,.9);
}

.main-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    display: inline;
}

.main-nav li a {
    padding-top: 15px;
    float: left;
    text-decoration: none;
    width: 190px;
    cursor:pointer;
}

.main-nav li a.describe {
    width: 18%;
    height: 100%;
    text-align: center;
}

.main-describe {
    width:200px;
}

.word-describe {
    margin-left: 40px;
}

.main-nav .sub_icon {
    font-size:20px;
    margin-right:45px;
    padding-top:0px;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 190px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 190px;
}
#wrapper.active #sidebar-wrapper {
    left: 190px;
}

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    display: block;
    float: left;
    text-decoration: none;
    width: 190px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #8b2524;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #8b2524;
}

#main_icon {
    float:right;
    padding-right: 31px;
    font-size:17px;
}

#main_icon {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

#main_icon.active-arrow {
    -webkit-transform: rotate(-180deg);
    -moz-transform:    rotate(-180deg);
    -ms-transform:     rotate(-180deg);
    -o-transform:      rotate(-180deg);
    transform :        rotate(-180deg);
}

.sub_icon {
    float:right;
    margin-right: 28px;
    padding-top: 10px;
    max-width: 20px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 190px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 190px;
        width: 190px;
        transition: all .4s ease 0s;
    }

    .word-describe{
        display:none;
    }
    
    .main-nav li a.describe{
        width: 15%;
    }

    .main-describe {
        width: 70px;
        padding-left: 80%;
    }

    #lastToggle
    {
        border-bottom-right-radius: 0px;
    }    

    #sidebar-wrapper
    {
        height: 90%;
    }
}

@media (max-width:400px) {
    .describe.first {
        padding-left: 80px;
    }

    .main-nav li a.describe{
        width: 12%;
    }
    .main-describe {
        width: 95%;
    }
}

@media (max-width:350px) {
    .describe.first {
        padding-left: 75px;
    }

    .main-nav li a.describe{
        width: 9%;
    }
    .main-describe {
        width: 95%;
    }
}

.btn img {
    max-width: 20px;
}

.zoom {
    color: #fff;
    background: rgba(184,37,36,.85);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
}

.zoom .btn {
    text-align:center;
    background: rgba(184,37,36,.85);
}