.tutorial-navigator
{
	cursor:pointer;
	position:absolute;
	top:0;
	bottom:0;
	width:40px;
	text-align:center;
	color:#fff;
	font-size:30px;
}

.tutorial-navigator.right
{
	right:0;
}

.tutorial-navigator.left
{
	left:0;
}

.tutorial-navigator span
{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}

.tutorial-navigator.right span
{
	right:10px;
}

.tutorial-navigator.left span
{
	left:10px;
}

.tutorial
{
	color: #fff;
/*	font-size: 5vmin;
	padding-left: 20%;
	padding-right: 20%;
	padding-top:10%;
	text-align: center;*/
}

.tutorialContent
{
	padding-left: 15%;
	padding-right: 15%;
}

.tutorial h1
{
	font-size: 5vmax;
	color: white;
}

.tutorial h2
{
	font-size: 4vmax;
	color: white;
}

.tutorial h3
{
	font-size: 3vmax;
	color: white;
}

.tutorial h4
{
	font-size: 2vmax;
	color: white;
}

.tutorial h5
{
	font-size: 1vmax;
	color: white;
}





#hideCat
{
	display: none;
}

.furnitureButton
{
	padding-bottom: 2px;
}


a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width:100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto; 
    width: auto;
    text-align: center
}

/*
#mydiv {
	position:absolute;
	top: 50%;
	left: 50%;
	width:30em;
	height:18em;
	margin-top: -9em; 
	margin-left: -15em;
}
*/
