// $background_image: url("../logo.png");

$primary-background-color: rgba(#8d1c1c, 0.95);
$secondary-background-color: #A34949;

$font-size-heading: 5vw;
$font-size-icon: 30vh;

$windows-color: #00a1f1;
$android-color: #a4c639;
$apple-color: #999999;
